.md-documentation {
  &__aside {
    width: 20%;
    background: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &__nav {
    margin-top: 3rem;
    list-style: none;
    margin-left: 2rem;
  }

  &__nav-item{
    color: inherit;
    text-decoration: none;
    line-height: 2;

    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__main {
    width: 80%;
    padding: 3rem;
    margin-left: 20%;
  }

  &__chapo {
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  &__icon.fas, &__icon.far {
    background: #f4f4f4;
    font-size: 0.825rem;
    color: #2c3e50;
    border-radius: 5px;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6d6d6;
    transform: translateY(-0.25rem);
    margin: 0 0.25rem;
  }

  &__article-content {
    display: flex;
  }

  &__article-frame {
    width: 50%;
    border: 1px solid #e8e8e8;
    padding: 1rem;
  }

  &__code {
    background: #f4f4f4;
    display: block;
    flex-grow: 1;
    font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
    font-size: 0.825rem;
    white-space: pre-wrap;
    margin: 0 1rem 0 0;
  }

  article {
    margin-bottom: 4rem;
  }

  sub{
    position: relative;
    bottom: -0.25rem;
  }
}